<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @campaign.user %>
</p>

<p>
  <strong>Teespring campaign:</strong>
  <%= @campaign.teespring_campaign_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @campaign.collection %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
